<div class="card">
  <div class="card-header pb-0">
    <div class="row">
      <div class="col-lg-6 col-7">
        <h6>Список задач</h6>

      </div>

    </div>
  </div>
  <div class="card-body px-0 pb-2">
    <div class="table-responsive">
      <table class="table align-items-center mb-0">
        <thead>
        <tr>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Название</th>
          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Категория</th>
          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Приоритет</th>
          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Статус</th>
          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Дата</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let task of tasks">
          <td>
            <div class="d-flex px-2 py-1">

              <div class="d-flex flex-column justify-content-center">
                <h6 class="mb-0 text-sm">{{task.id}}</h6>
              </div>
            </div>
          </td>
          <td>
            <div class="d-flex px-2 py-1">

              <div class="d-flex flex-column justify-content-center">
                <h6 class="mb-0 text-sm">{{task.title}}</h6>
              </div>
            </div>
          </td>
          <td>
            <div class="d-flex px-2 py-1">

              <div class="d-flex flex-column justify-content-center">
                <h6 class="mb-0 text-sm"></h6>
              </div>
            </div>
          </td>
          <td>
            <div class="d-flex px-2 py-1">

              <div class="d-flex flex-column justify-content-center">
                <h6 class="mb-0 text-sm"></h6>
              </div>
            </div>
          </td>
          <td>
            <div class="d-flex px-2 py-1">

              <div class="d-flex flex-column justify-content-center">
                <h6 class="mb-0 text-sm"></h6>
              </div>
            </div>
          </td>
          <td>
            <div class="d-flex px-2 py-1">

              <div class="d-flex flex-column justify-content-center">
                <h6 class="mb-0 text-sm"></h6>
              </div>
            </div>
          </td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
